@model ContactFormViewModel

<h1>@ViewData["Title"]</h1>
<div class="form-group">
    <h1>@ViewData["Message"]</h1>

    <h3>@Localizer["Merhaba"]</h3>
</div>
<form asp-action="Kaydet">
    <div>
        <div class="form-group">
            <label asp-for="AdSoyad" class="control-label"></label>
            <input asp-for="AdSoyad" class="form-control" />
            <span asp-validation-for="AdSoyad" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
